/* font-family: 'Pacifico', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Josefin Slab', serif; */

#navbar{
	font-family: 'Pacifico', cursive;
	background: linear-gradient(#000, #FFF, 180deg);

}

#navlist{
	color: blue;
}

#A1{

	width:100%;

}